<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/login-facebook-popup/login-facebook-popup.html')

-->
<!--<div class="remodal" data-remodal-id="modal">-->
<!--<button data-remodal-action="close" class="remodal-close"></button>-->
<!--<h1>Remodal</h1>-->
<!--<p>-->
<!--Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.-->
<!--</p>-->
<!--<br>-->
<!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
<!--<button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
<!--</div>-->

<div class="remodal registration-facebook" data-remodal-id="modal">
    <!--<div class="forgot-password-popup register-facebook">-->
    <!-- /.forgot-password-popup -->

    <button data-remodal-action="close" class="remodal-close close-btn"></button>
    <!--@@include('../../blocks/close/close.html')-->
    <h3>Реєстрація через Facebook</h3>
    <div class="enter-email enter-data">
        <label for="name">Ім'я:</label>
        <input type="text" placeholder="Роман" id="name">
        <label for="number-phone">Телефон:</label>
        <input type="text" placeholder="+38 (__)" id="number-phone">
        <label for="email">E-mail:</label>
        <input type="text" placeholder="E-mail" id="email">
        <div class="forgot-password-btn">
            <a href="#" class="accept-btn remodal-confirm" data-remodal-action="confirm">Зареєструватися</a>
            <a class="backward-btn remodal-cancel" data-remodal-action="cancel">Назад</a>
        </div>
    </div>

    <div class="enter-email enter-data">
        <label for="enter-code">Введіть код, який вам прийшов у СМС:</label>
        <input type="text" id="enter-code" placeholder="E-mail">
        <div class="forgot-password-btn">
            <a href="#" class="accept-btn remodal-confirm" data-remodal-action="confirm">Зареєструватися</a>
            <a class="backward-btn remodal-cancel" data-remodal-action="cancel">Назад</a>
        </div>
    </div>
</div>



