.subscription-popup{
  max-width: 450px;
  text-align: left;
  h3{
    font-size: 24px;
    color: #4b5160;
    padding-bottom: 15px;
  }
  p{
    font-size: 16px;
    padding-bottom: 35px;
  }
  label{
    padding-bottom: 10px;
  }
  input{
    width: 100%;
  }
  .modal-btn{
    padding-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .subscription-popup{
    padding: 25px 10px 45px;
    width: calc(100% - 20px);
    margin-top: 120px;
    border-radius: 3px;
    .close-btn{
      top: 17px;
    }
    h3, p{
      padding-right: 35px;
    }
  }
}