<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/register/register.html')

-->


<div class="auth-items">
    <div class="register-items">
        <!-- /.register-item -->

        <div class="authorized-items">
            <!-- /.authorized-item -->
            <div class="auth-facebook">
                <h2>Авторизація</h2>
                <a class="login-facebook" data-remodal-target="modal">
                    <img src="img/facebook.svg" alt="image">
                    <span>Увійти через Facebook</span>
                </a>
            </div>
            <div class="login-email">
                <h3>Вхід через e-mail:</h3>
                <label for="email">E-mail:</label>
                <input type="text" id="email">
                <label for="password">Пароль:</label>
                <input type="password" id="password">

                <!-- /.repeat-password -->
                <div class="login-btn">
                    <a href="#" class="login">Ввійти</a>
                    <span class="forgot-password" data-remodal-target="modal-2">Забули пароль?</span>
                </div>
                <div class="info-register">
                    <div class="unregistered">
                        <span>Ще не зареєстровані?</span> <span>Зареєструйтеся:
                            <a href="authorization.html">як клієнт</a>/
                            <a href="register-mont.html">як монтажник</a></span>
                    </div>
                </div>

                <!-- /.come-in -->

            </div>
        </div>
    </div>
</div>





<!--<label for="number-phone">Телефон:</label>-->
<!--<input type="password" id="number-phone">-->
<!--<div class="repeat-password">-->
    <!--<div class="password-input">-->
        <!--<label for="password1">Пароль:</label>-->
        <!--<input type="text" id="password1">-->
    <!--</div>-->
    <!--<div class="password-input-repeat">-->
        <!--<label for="password2">Пароль ще раз:</label>-->
        <!--<input type="password" id="password2">-->
    <!--</div>-->
    <!--<a href="#" class="sign-up">Зареєструватися</a>-->
<!--</div>-->
<!--<div class="code-verification">-->
    <!--<label for="enter-code">Введіть код, який вам прийшов у СМС:</label>-->
    <!--<div class="enter-code">-->
        <!--<input id="enter-code" type="text">-->
        <!--<a href="#">ОК</a>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="come-in">-->
    <!--<span>Я вже зареєстрований. <a href="#">Ввійти</a></span>-->
<!--</div>-->

