// В этом файле должны быть стили для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.close-btn {
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  background: rgba(50, 57, 74, .4);
  color: $white;
  text-align: center;
  border-radius: 2px;
  top: 0;
  right: -37px;
  left: auto;
  bottom: auto;
  cursor: pointer;
}

.close-btn:after {
  width: 12px;
  transform: rotate(45deg);
  height: 1px;
  background: #fff;
  position: absolute;
  content: '';
  top: 11px;
  left: 8px;
}

.close-btn:before {
  width: 12px;
  transform: rotate(-45deg);
  height: 1px;
  background: #fff;
  position: absolute;
  content: '';
  top: 11px;
  left: 8px;
}

@media (max-width: 767px) {
  .close-btn {
    top: 15px;
    right: 5px;
  }
}