* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  color: $main-color;
  font-family: $font-OpenSans;
  background: #edeff4;
}

.select2-container {
  width: 100% !important;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $light-white;
  cursor: pointer;
  //&:hover {
  //  text-decoration: underline;
  //}
}

sup {
  vertical-align: top;
  font-size: 60%;
  display: inline-block;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

label {
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: $dark-blue;
}

input {
  -webkit-appearance: none;
  border-radius: 3px;
  outline: none;
  border: 1px solid $border-blue;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  &::placeholder {
    color: #c3c7cf;
    font-weight: 300;
  }
}

.select2-container {
  width: 100%;
  font-size: 14px;
}

.alert {
  padding: 22px 85px;
  position: relative;
  border: 3px dotted #eeeeee;
  font-size: 14px;
  line-height: 1.2;
  &.alert-danger {
    border-color: #e07b7b;
    b {
      font-weight: 600;
      color: #e07b7b;
    }
    &:before {
      content: '!';
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #e07b7b;
      color: #ffffff;
      text-align: center;
      line-height: 32px;
      font-size: 24px;
      font-weight: 400;
      border-radius: 50%;
      left: 30px;
    }
  }
}

.select2-container--default .select2-selection--single {
  border: 1px solid $border-blue;
  border-radius: 3px;
  height: 40px;
  outline: none;
}

.select2-search input {
  height: 35px;
  font-size: 14px;
}

.select2-container.select2-container--default.select2-container--open {
  width: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  font-weight: 500;
  color: $dark-blue;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  &:after {
    position: absolute;
    content: url(../img/arrow.svg);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__arrow b {
      display: none;
    }
  }
}

.btn-default {
  background: #388edd;
  border: none;
  color: #ffffff;
  height: 45px;
  line-height: 45px;
  min-width: 175px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background: darken(#388edd, 10%);
    text-decoration: none;
  }
}

.btn-primary {
  background: #e6e8ee;
  border: none;
  color: #32394a;
  height: 45px;
  line-height: 45px;
  min-width: 175px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background: darken(#e6e8ee, 10%);
  }
}

.main-btn {
  font-size: 14px;
  background: $orange;
  padding: 20px 45px;
  color: $brown;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 10px 40px rgba(255, 201, 71, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  img {
    margin-left: 23px;
  }
  &:hover {
    box-shadow: 0 5px 20px rgba(255, 201, 71, .5);
    transform: translateY(-2px);
  }
}

h1 {
  font-size: 50px;
  color: $white;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

h2 {
  position: relative;
  text-transform: uppercase;
  color: $white;
  font-weight: 400;
  font-size: 36px;
  &:before {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    border-left: 1px solid #98c2eb;
    border-top: 1px solid #98c2eb;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
  }
}

h2.gray {
  position: relative;
  font-size: 30px;
  color: $main-color;
  &:before {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    border-left: 1px solid $border-gray;
    border-top: 1px solid $border-gray;
    left: -65px;
    top: 50%;
    transform: translateY(0);
  }
}

.main-content-wrap {
  background: url(../img/main-bg.jpg) no-repeat center $light-blue;
  padding: 185px 0 240px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  .main-content {
    color: $white;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
  }
}

.main-content-info {
  width: 50%;
  padding-right: 70px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    top: -45px;
    bottom: 75px;
    left: -42px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
  }
  &:after {
    position: absolute;
    content: '';
    height: 40px;
    right: 14px;
    bottom: 87px;
    left: 285px;
    border-right: 1px solid #98c2eb;
    border-bottom: 1px solid #98c2eb;
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 30px;
    margin-bottom: 67px;
    line-height: 1.2;
  }
}

.main-content-photo {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

//&:not(:last-child) {

.work-joule-wrap {
  margin-top: -174px;
  .stage-works {
    display: flex;
    justify-content: space-between;
  }
}

.work-joule {
  position: relative;
  z-index: 2;
  margin-bottom: 125px;
  h2 {
    margin-bottom: 32px;
    position: relative;
    font-weight: 700;
    &:before {
      position: absolute;
      content: '';
      width: 45px;
      height: 45px;
      border-left: 1px solid rgba(255, 255, 255, .5);
      border-top: 1px solid rgba(255, 255, 255, .5);
      left: -65px;
      top: 100%;
      transform: translateY(-50%);
    }
  }
}

.stage-item {
  position: relative;
  width: 33%;
  background: $white;
  margin-right: 100px;
  padding: 25px 0 35px 20px;
  &:last-child {
    margin-right: 0;
  }
  .stage-item-info {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
}

.stage-item-1 {
  width: 100%;
  max-width: 330px;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 92px solid transparent;
    border-left: 85px solid #ffffff;
    border-bottom: 92px solid transparent;
    z-index: 10;
    bottom: 0;
    top: 0;
    right: -85px;
  }
}

.stage-item-2 {
  width: 100%;
  max-width: 275px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-right: 80px solid #ffffff;
    border-top: 92px solid #ffffff;
    border-left: 86px solid transparent;
    border-bottom: 92px solid #ffffff;
    position: absolute;
    top: 0;
    left: -84px;
    z-index: -1;
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 92px solid transparent;
    border-left: 85px solid #ffffff;
    border-bottom: 92px solid transparent;
    z-index: 10;
    bottom: 0;
    top: 0;
    right: -85px;
  }
}

.stage-item-3 {
  width: 100%;
  max-width: 355px;
  padding-right: 20px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-right: 80px solid #ffffff;
    border-top: 92px solid #ffffff;
    border-left: 86px solid transparent;
    border-bottom: 92px solid #ffffff;
    position: absolute;
    top: 0;
    left: -84px;
    z-index: -1;
  }
}

.stage-item-info {
  img {
    margin-right: 15px;
  }
  h3 {
    font-weight: 600;
  }
}

.advantages-wrap {
  background: url(../img/ukraine_bg.png) no-repeat center 35% $light-white;

}

.advantages {
  h2 {
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 63px;
    color: $main-color;
  }
}

.advantages-item-wrap {
  display: flex;
  padding: 0 10px 85px 0;
  .advantages-item {
    position: relative;
    padding: 17px 18px 33px;
    width: 25%;
    margin-right: 15px;
    background: $white;
    border-radius: 2px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages-item {
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #6b717f;
  }
}

.advantages-numbering {
  position: absolute;
  width: 39px;
  height: 39px;
  text-align: center;
  background: $blue;
  border-radius: 50%;
  right: -6px;
  top: -12px;
  padding: 10px 0;
  box-sizing: border-box;
  color: $white;
  box-shadow: 0 0 20px rgba(56, 142, 220, 0.3);
}

.advantages-item-info {
  margin-bottom: 15px;
  img {
    margin-bottom: 15px;
    height: 60px;
  }
  h4 {
    color: $dark-blue;
    font-weight: 700;
    line-height: 1.2;
  }
}

.company-info {
  position: relative;
  background: $lighten-blue;
  background-size: cover;
  padding: 66px 95px;
  text-align: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/bg-layery.png) no-repeat center bottom;
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
  }
  &-item {
    width: 190px;
    color: $white;
  }
}

.company-info-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.company-info-item {
  position: relative;
  z-index: 2;
  span {
    width: 125px;
    height: 61px;
    line-height: 61px;
    color: $orange;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    &:after {
      content: '';
      position: absolute;
      width: 23px;
      height: 23px;
      border-left: 1px solid $white;
      border-top: 1px solid $white;
      top: 0;
      left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      width: 23px;
      height: 23px;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      right: 0;
      bottom: 0;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.3;
  }
  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      width: 155px;
      height: 1px;
      border-bottom: 1px dashed rgba(255, 255, 255, .5);
      position: absolute;
      top: 25%;
      left: 113%;
    }
  }
}

.questions {
  padding: 110px 0 75px;
  h2 {
    color: $main-color;
    font-size: 30px;
    margin-bottom: 55px;
  }
}

.question-items {
  padding-bottom: 30px;
  li {
    position: relative;
    text-align: left;
    font-weight: 300;
    margin-bottom: 52px;
    padding-left: 55px;
    display: flex;
    align-items: center;
  }
}

.question-icon {
  left: 0;
  top: auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  //margin-right: 25px;
}

.implemented-projects-wrap {
  background: $light-gray;
  padding: 50px 0 90px;
  h2 {
    color: $main-color;
    font-size: 30px;
    margin-bottom: 65px;
  }
}

.swiper-implemented-projects {
  padding-bottom: 10px;
  .swiper-slide {
    display: flex;
    justify-content: space-between;
    opacity: 0 !important;
    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }
}

.implemented-projects-img {
  max-width: 480px;
  width: 100%;
  //height: 100%;
  padding-right: 70px;
  img {
    border: 5px solid $white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.img-border {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    text-align: center;
    margin: 0 auto;
    height: 4px;
    background: $white;
    box-sizing: border-box;
  }
  &:before {
    position: absolute;
    content: '';
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 42px);
    text-align: center;
    margin: 0 auto;
    height: 5px;
    background: $white;
    box-sizing: border-box;
  }
}

.implemented-projects-info {
  max-width: 710px;
  width: 100%;
  padding: 0 75px;
  h3 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  p {
    position: relative;
    padding-bottom: 25px;
    font-style: italic;
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 200;
    &:before {
      position: absolute;
      width: 35px;
      content: url(../img/quotes-tops.svg);
      left: -75px;
      top: -15px;
    }
    &:after {
      position: absolute;
      width: 35px;
      content: url(../img/quotes-bottom.svg);
      right: -60px;
      bottom: 0;
    }
    img {
      position: absolute;
      top: -22px;
      left: -75px;
      width: 35px;
    }
  }
  span {
    font-size: 16px;
    font-weight: 300;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: $orange;
}

.swiper-pagination {
  text-align: left;
  padding-left: 45%;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: $main-color;
}

//CATEGORY-EQUIPMENT
.select-category {
  background: $light-white;
  padding: 25px 0;
  min-height: 100%;
  h2 {
    padding-bottom: 30px;
    color: $dark-blue;
    text-transform: none;
    font-size: 30px;
    &:before {
      display: none;
    }
  }
}

.station-items {
  display: flex;
}

.select-station {
  background: $white;
  padding: 40px 25px 25px;
  .station-item {
    background: $dark-white;
    width: 50%;
    padding: 18px 18px 18px 68px;
    display: block;
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 0 2px rgb(35, 153, 218);
    }
  }
  .home-station {
    margin-right: 20px;
  }
}

.station-item {
  h3 {
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 25px;
  }

  h4 {
    color: $dark-blue;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  p {
    font-weight: 300;
    line-height: 18px;
    font-size: 14px;
  }
}

.station-info {
  color: $dark-blue;
  display: block;
  border: 1px dashed $dashed-light-blue;
  padding: 45px 20px 50px 100px;
  height: 100%;
  position: relative;
  img {
    position: absolute;
    left: -50px;
    padding-bottom: 30px;
    background: $dark-white;
  }
}

.station-info:hover {
  text-decoration: none;
}

//CATEGORY-EQUIPMENT
.select-category {
  h2 {
    text-align: left;
    text-transform: none;
  }
}

.home-station-items {
  color: $dark-blue;
  background: $dark-white;
  padding: 35px 50px 50px 35px;
  width: 33.33%;
  margin-right: 20px;
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0 2px rgb(35, 153, 218);
    //border: solid 2px #1c7aae;
  }
  &:last-child {
    margin-right: 0;
  }
  img {
    padding-bottom: 20px;
    margin-left: -10px;
  }
  h3 {
    font-size: 24px;
    color: $dark-blue;
    font-weight: 600;
    padding-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: $dark-blue;
  }
}

.home-types-station {
  display: flex;
}

.commercial-station {
  &:first-child {
    margin-right: 35px;
  }
  img {
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 25px;
  }
  h3 {
    font-size: 24px;
    color: $dark-blue;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: $dark-blue;
  }
}

//CATALOG
.border-img {
  border: 1px solid $border-blue;
  border-radius: 3px;
}

.select-organiation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  background: $dark-white;
  border: 1px solid $border-blue;
  border-radius: 3px;
  margin-bottom: 35px;
}

.select-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 70px;
  color: $dark-blue;
  label {
    padding-bottom: 15px;
    font-weight: 300;
  }
}

.visible-proven-companies {
  padding-top: 26px;
  width: 33%;
  padding-left: 30px;
  input {
    display: none;
    margin-right: 8px;
  }
  label {
    position: relative;
    padding-left: 30px;
  }
}

.visible-proven-companies input[type=checkbox] + label:after {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
  z-index: 1;
  border: 1px solid $border-blue;
  border-radius: 3px;
  width: 23px;
  height: 23px;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.visible-proven-companies input[type=checkbox]:checked + label:before {
  position: absolute;
  content: '';
  transform: rotate(45deg) translateY(-50%);
  border: solid $light-blue;
  border-width: 0 2px 2px 0;
  top: 40%;
  left: 5px;
  width: 5px;
  height: 8px;
}

.catalog-organization {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid $border-blue;
  &:last-child {
    padding-bottom: 0;
    border: 0;
  }
}

.logo-organization {
  min-width: 95px;
  max-width: 95px;
  height: 95px;
  padding-right: 40px;
  box-sizing: content-box;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.visible-catalog-organization{
  display: none;
}
.about-organization {
  width: 42%;
  padding-right: 15px;
  overflow: hidden;
  h3 {
    padding-bottom: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    a {
      font-size: 24px;
      color: $dark-blue;
      text-decoration: none;
    }
  }
  span {
    font-size: 14px;
  }
}

.proven-organization-wrap {
  width: 155px;
  height: 75px;
}

.proven-organization {
  border: 2px dotted $dashed-green;
  border-radius: 3px;
  width: 155px;
  height: 75px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  &:after {
    position: absolute;
    content: '';
    background: $darker-white;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
  }
  img {
    z-index: 2;
    padding-left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  span {
    position: relative;
    display: block;
    color: $green;
    padding: 0 12px 0 50px;
    z-index: 2;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    //&:before {
    //  position: absolute;
    //  content: url(../img/checked.svg);
    //  left: 12px;
    //  top: 50%;
    //  transform: translateY(-50%);
    //}
  }
}

.reviews-organization {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  padding-left: 85px;
}

.quantity-rewiews {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  padding-left: 20px;
  &:before {
    position: absolute;
    content: url(../img/review.svg);
    left: -3px;
  }
  a {
    color: $dark-blue;
    font-weight: 400;
    margin-right: 5px;
  }
  .negative-review {
    color: $red;
    padding-left: 5px;
    font-weight: 400;
  }
}

.in-process {
  position: relative;
  padding-left: 20px;
  &:before {
    position: absolute;
    content: url(../img/inprocess.svg);
    left: 0;
    bottom: -1px;
  }
  a {
    color: $dark-blue;
    font-weight: 400;
  }
}

.img-station-wrap {
  display: flex;
  align-items: center;
  padding-left: 70px;
  justify-content: flex-end;
  width: 176px;
  .terrestrial-station {
    padding-left: 20px;
  }
}

.about-company-wrap {
  width: 50%;
  display: flex;
  align-items: center;
}

//GENERAL INFORMATION
.general-information-items {
  display: flex;
  .for-client {
    position: relative;
    width: 50%;
    z-index: 2;
    padding: 40px 111px 40px 80px;
    color: $dark-blue;
    //display: block;
    &:hover {
      //box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      //box-shadow: 0 0 0 2px #2399da;
      text-decoration: none;
    }
    &:after {
      position: absolute;
      content: '';
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      z-index: -1;
    }
  }
  .information-item {
    border: 2px dotted $light-orange;
    margin-right: 15px;
    &:hover {
      border: 2px solid $light-orange;
    }
    &:after {
      background: $lighten-orange;
    }
    &:before {
      position: absolute;
      content: url(../img/info.svg);
      top: 25px;
      left: 20px;
    }
  }
  .suggestions-item {
    border: 2px dotted $dashed-blue;
    &:hover {
      border: 2px solid $dashed-blue;
    }
    &:after {
      background: $lighter-blue;
    }
    &:before {
      position: absolute;
      content: url(../img/suggestions.svg);
      top: 25px;
      left: 20px;
    }
  }
  h3 {
    font-size: 30px;
    padding-bottom: 25px;
  }
  h4 {
    font-weight: 900;
    padding-bottom: 25px;
    line-height: 24px;
  }
  li {
    color: $dark-blue;
    padding-bottom: 15px;
    position: relative;
    display: block;
    padding-left: 23px;
    font-weight: 300;
    &:before {
      position: absolute;
      content: '•';
      left: 0;
    }
  }
}

.questions-wrap {
  h2 {
    margin-bottom: 0;
    line-height: 41px;
  }
  li {
    padding: 12px 17px;
    background: #f7f8fb;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: left;
    a {
      color: $dark-blue;
      border-bottom: 1px dashed;
      font-weight: 300;
      line-height: 24px;
      font-size: 17px;
      &:hover {
        text-decoration: none;
        border: 0;
        color: $blue;
      }
    }
  }
}

//REGISTER
.auth-items {
  padding: 28px;
  background: $white;
}

.register-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $lighten-white;
  //padding: 30px 30px 35px;
  padding: 0 20px;
  h2 {
    width: 100%;
    font-weight: 400;
  }
  .auth-facebook {
    max-width: 435px;
    width: 100%;
    padding: 25px 75px 40px 0;
    box-sizing: content-box;
    box-shadow: 18px 0 47px -23px rgba(0, 0, 0, 0.15);
    //box-shadow: 25px 0 50px -25px rgba(0, 0, 0, 0.15);
    //box-shadow: 10px 0 75px -25px rgba(0, 0, 0, 0.25);
  }
  .login-email {
    width: 100%;
    max-width: 500px;
    padding: 85px 0 40px 75px;
    box-sizing: content-box;
    .btn-default {
      max-width: 370px;
      width: 100%;
      margin: 30px 0 35px;
      text-align: center;
      font-size: 14px;
    }
  }
}

.repeat-password {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  .password-input {
    margin-right: 10px;
    width: calc(50% - 5px);
    input {
      max-width: 100%;
    }
  }
  .password-input-repeat {
    width: calc(50% - 5px);
    input {
      max-width: 100%;
    }
  }
}

.code-verification {
  max-width: 370px;
  padding-bottom: 30px;
  .enter-code {
    display: flex;
    input {
      margin-right: 20px;
      width: 100%;
      max-width: 300px;
    }
  }
  a {
    width: 50px;
    height: 40px;
    min-width: 50px;
    line-height: 40px;
    background: $orange;
    color: $dark-brown;
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
      background: darken($orange, 10%);
    }
  }
}

.authorized-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-facebook {
  position: relative;
  max-width: 435px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 2px dotted $border-blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 50px;
  &:after {
    position: absolute;
    content: '';
    background: #eef1f6;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    z-index: -1;
  }
  &:hover span {
    border-bottom: 1px dashed;
  }
  img {
    padding-bottom: 15px;
  }
  span {
    color: $dark-blue;
    font-weight: 300;
    text-decoration: none;
    padding-bottom: 3px;
    line-height: 24px;
    &:hover {
      border-bottom: 1px dashed;
    }
  }
}

.login-email {
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: 400;
    padding-bottom: 5px;
    color: $dark-blue;
  }
  label {
    padding: 20px 0 12px;
  }
  input {
    border-radius: 3px;
    outline: none;
    border: 1px solid $border-blue;
    background: $lighten-white;
    height: 40px;
    max-width: 370px;
    width: 100%;
    padding: 10px 15px;
  }
}
.login-btn input{
  -webkit-appearance: none;
}
.login-btn {
  display: flex;
  align-items: center;
  padding: 20px 0 40px;
  .login {
    color: $white;
    background: $light-blue;
    padding: 15.5px 87px;
    border-radius: 3px;
    margin-right: 40px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
  }
  .forgot-password {
    color: $light-blue;
    padding-bottom: 2px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      border-bottom: 1px dashed $light-blue;
      padding-bottom: 0;
    }
  }
}

.info-register {
  span {
    font-size: 14px;
    a {
      color: $light-blue;
      border-bottom: 1px dashed $light-blue;
      text-decoration: none;
      &:hover {
        border: none;
      }
    }
  }
}

//MODAL\
.registration-facebook {
  padding: 30px 45px;
  max-width: 510px;
  text-align: left;
  h3 {
    font-size: 24px;
    color: $dark-blue;
    padding-bottom: 25px;
  }
}

.enter-email {
  border: 1px solid #e6e8ee;
  border-radius: 3px;
  padding: 35px 25px;
  background: $lighten-white;
  display: flex;
  flex-direction: column;
  p {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 30px;
  }
  label {
    padding-bottom: 12px;
  }
}

.forgot-password-btn {
  display: flex;
  padding-top: 15px;
  text-align: center;
  a {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    text-decoration: none;
  }
  .accept-btn {
    width: 210px;
    margin-right: 20px;
    padding: 0;
    color: $white;
    background-color: $light-blue;
  }
  .backward-btn {
    width: 135px;
    padding: 0;
    background: $light-gray;
    color: $dark-blue;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-top: 1px solid #747a86;
      border-left: 1px solid #747a86;
      margin-left: -13px;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);
    }
  }
}

//REGISTER-CLIENT
.service-works {
  padding: 50px 25px;
  background: $white;
  h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 36px;
  }
  h3 {
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 25px;
    color: $dark-blue;
  }

  .auth-items {
    padding: 0;
  }
  .auth-items-wrap {
    padding: 0;
    .auth-items {
      padding: 0;
    }
  }
}

.step-work {
  max-width: 910px;
  padding-bottom: 60px;
}

.step-work-image {
  margin-right: 35px;
  display: inline-block;
  vertical-align: bottom;
  float: left;
  img {
    position: relative;
    z-index: 1;
  }
  span {
    font-size: 66.48px;
    font-weight: 700;
    color: #eceef2;
    margin-left: -15px;
    vertical-align: top;
  }
}

.info-step {
  padding: 15px 125px 20px 15px;
  background: #f4f5f8;
  margin-bottom: 25px;
  border-radius: 3px;
  min-height: 104px;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    font-weight: 700;
    padding-bottom: 15px;
    display: inline-block;
    color: #4c5569;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $dark-blue;
  }
}

.service-partners {
  font-size: 14px;
  padding-bottom: 60px;
  h3 {
    font-weight: 600;
    color: $dark-blue;
    padding-bottom: 0;
  }
  p {
    font-weight: 700;
    color: $dark-blue;
    padding: 35px 0 15px;
    line-height: 18px;
  }
  li {
    line-height: 18px;
    font-weight: 300;
    padding: 8px 0 8px 25px;
    position: relative;
    color: $dark-blue;
    font-weight: 400;
    &:before {
      position: absolute;
      left: 0;
      //top: 50%;
      //transform: translateY(-50%);
    }
  }
}

.conditions-status {
  li {
    &:before {
      content: url(../img/complete.svg);
    }
  }
}

.conditions-partner {
  li {
    &:before {
      content: url(../img/point.svg);
    }
  }
}

//calc form

.calc-form {
  background: #ffffff;
  margin-top: 27px;
  padding: 35px 25px 50px;
  margin-bottom: 50px;
  //
  @media screen and (max-width: 767px) {
    padding: 20px 10px;
    .btn-default, .btn-primary {
      width: 100%;
      margin: 5px 0;
    }
  }
  //
  h1,
  h2 {
    font-size: 24px;
    font-weight: 300;
    text-transform: none; //todo стилі, вила
    color: #32394a;
    margin-bottom: 25px;
    &:before {
      display: none; //todo прибрати ці дрова
    }
  }
  input[type='number'] {
    height: 40px;
    line-height: 40px;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    padding-left: 15px;
  }
  .btn-primary {
    margin-left: 15px;
  }
}

.styled-radio {
  margin-bottom: 14px;
  user-select: none;
  [type='radio'] {
    display: none;
  }
  [type='radio'] + label:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #d0d4dd;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    transition: border ease .3s;
  }
  [type='radio']:checked + label:after {
    border-color: #388edd;
  }
  [type='radio'] + label:before {
    content: '';
    top: 5px;
    left: 5px;
    position: absolute;
    z-index: 1;
    background: #388edd;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transition: transform ease .3s;
    transform: scale(0);
  }
  [type='radio']:checked + label:before {
    transform: scale(1);

  }
  label {
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
  }
}

.styled-checkbox {
  margin-bottom: 15px;
  user-select: none;
  [type='checkbox'] {
    display: none;
    position: absolute;
    left: -10000px;
  }
  label {
    display: block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #32394a;
    line-height: 20px;
  }
  [type='checkbox'] + label {
    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      border-radius: 3px;
      border: solid 1px #cfd3dc;
      position: absolute;
      top: 0;
      left: 0;
      transition: background ease .3s;
    }
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 4px;
      border-left: 2px solid #388edd;
      border-bottom: 2px solid #388edd;
      position: absolute;
      top: 6px;
      left: 6px;
      transform: rotate(-45deg) scale(0);
      transition: transform ease .2s;
    }
  }
  [type='checkbox']:checked + label {

    &:after {
      transform: rotate(-45deg) scale(1);
    }
  }
  [type='checkbox']:disabled + label {
    color: #dededd;
    &:before {
      border-color: #dededd;
    }
  }
}

.autonomy-input {
  margin: 25px 0 40px;
  label {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 130px;
  }
}

.tooltip-btn {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #edeff3;
  color: #b4bac9;
  font-size: 18px;
  position: relative;
  text-align: center;
  line-height: 27px;
  font-weight: 400;
  z-index: 1;
  cursor: pointer;
  margin-left: 15px;
  .tooltip {
    display: none;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 20px 25px;
    width: 500px;
    box-shadow: 0 4px 16px 0 rgba(174, 182, 186, .36);
    text-align: left;
    font-weight: 300;
    font-style: italic;
    z-index: 100;
    background: #ffffff;
    color: #525867;
    line-height: 1.2;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 10px solid #ffffff;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.calc-block {
  padding: 20px 0;
  border-bottom: 1px solid #e9ebef;
  max-width: 720px;
  input[type='number'] {
    width: 65px;
  }
  .calc-field {
    font-size: 14px;
    color: #a9aeb8;
    display: inline-block;
    //
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    &.multiply {
      &:after {
        content: 'X';
        color: #000000;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
  .style-select {
    display: inline-block;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    width: 115px;
    color: #000000;
    position: relative;
    margin-left: 14px;
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-right: 1px solid #c4c7cc;
      border-bottom: 1px solid #c4c7cc;
      transform: rotate(45deg);
      position: absolute;
      top: 13px;
      right: 10px;
    }
    select {
      height: 40px;
      line-height: 40px;
      appearance: none;
      border: none;
      background: transparent;
      padding-left: 15px;
      width: 100%;
      font-size: 14px;
    }
  }
  .calc-result {
    display: inline-block;
    font-size: 14px;
    span {
      padding-left: 10px;
    }
  }
}

.total-result {
  margin: 40px 0;
  color: #418ac9;
  font-size: 18px;
  line-height: 1.5;
}

.calc-field-wrap {
  &.disabled {
    pointer-events: none;
    color: #a9aeb8;
    .calc-field {
      color: #a9aeb8;
    }
    .style-select {
      select {
        color: #a9aeb8;
      }

    }
  }
  .calc-field {
    color: #5b6374;
  }
}

//STATION

.station-block {
  background: #ffffff;
  padding: 35px 25px;
  margin: 25px 0;
  color: #32394a;

  h1 {
    color: #32394a;
    font-weight: 300;
    font-size: 30px;
    text-transform: none;
    margin-bottom: 40px;
    b {
      font-weight: 600;
    }
  }
  h2 {
    color: #32394a;
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
    margin-bottom: 25px;
    &:before {
      display: none;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    b {
      font-weight: 600;
    }
    strong {
      font-weight: 600;
      font-size: 18px;
    }
  }
  a {
    color: #418ac9;
    border-bottom: 1px dashed #418ac9;
    &:hover {
      border-color: transparent;
    }
  }
}

.station-power-block {
  background: #f5f7f9;
  padding: 30px;
  margin: 25px 0;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    display: block;
    width: 5em;
    height: 4em;
    position: absolute;
    bottom: -20px;
    background: inherit;
    transform: rotate(-150deg) skew(-29deg);
    border-radius: 8px;
    z-index: -1;
  }
  p.title {
    font-size: 18px;
    font-weight: 400;
  }

  .slider-block {
    padding: 65px 30px 0;
    margin-bottom: 45px;
  }
  .noUi-pips-horizontal {
    top: -22px;
    padding: 0;
    height: auto;
  }
  .noUi-marker-horizontal {
    display: none;
  }
  .noUi-value {
    transform: translate3d(-50%, 0%, 0);
    white-space: nowrap;
    font-size: 14px;
    color: #32394a;
  }

  .noUi-horizontal {
    height: 7px;
    border: none;
    background: #e0e3ea;
    border-radius: 3px;
    .noUi-origin {

    }
    .noUi-handle {
      width: 75px;
      height: 20px;
      left: -35px;
      background: url(../img/slider-line.png) no-repeat center #ffffff;
      border: none;
      box-shadow: 0 0 16px 4px rgba(174, 182, 186, .36);
      cursor: pointer;
      &:before, &:after {
        width: 6px;
        height: 6px;
        background: none;
        border-top: 1px solid #c8ced7;
        border-left: 1px solid #c8ced7;
        transform: rotate(-45deg);
        left: 8px;
        top: 7px;
      }
      &:after {
        transform: rotate(135deg);
        left: auto;
        right: 8px;
      }
    }
  }
  .noUi-connect {
    border-radius: 3px;
    box-shadow: none;
  }
  .noUi-tooltip {
    background: #e8ebef;
    border: none;
    color: #687084;
    font-size: 18px;
    padding: 7px 10px;
    white-space: nowrap;
    transform: translate(-16%, -43%);
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: inherit;
      position: absolute;
      bottom: -4px;
      left: 8px;
      transform: rotate(45deg);
    }
  }
  p.info {
    font-size: 16px;
    a {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.power-station {
  .noUi-connect {
    background: #fcc84b;
  }
}

.capacity-slider {
  .noUi-connect {
    background: #418ac9;
  }
}

.params-block {
  display: flex;
  margin: 45px 0;
}

.param-item {
  flex-grow: 1;
  padding: 0 30px;
  @media screen and (max-width: 1199px) {
    padding: 0 20px;
  }
  &:not(:last-child) {
    border-right: 1px solid #e0e3ea;
  }
  p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  strong {
    display: block;
    font-weight: 600;
    font-size: 22px;
  }
  span {
    color: #868fa5;
    font-size: 12px;
  }
  .tooltip-btn {
    color: #89949f;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
}

.station-info-block {
  padding: 50px 35px 35px;
  margin-bottom: 35px;
  position: relative;
  z-index: 0;
  background: #ffffff;
  &.left-image {
    padding-left: 410px;
    .station-info-img {
      left: 0;
    }

  }
  &.left-arrow {
    &:before {
      left: 50px;
      right: auto;
    }
  }
  &.right-arrow {
    &:before {
      right: 50px;
      left: auto;
    }
  }
  &.right-image {
    padding-right: 410px;
    .station-info-img {
      right: 0;
    }

  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    background: #edeff4;
    height: 5px;
    z-index: -5;
  }
  &:before {
    content: '';
    display: block;
    border-top: 5px solid #edeff4;
    border-left: 6px solid #edeff4;
    width: 3.4em;
    height: 3em;
    position: absolute;
    bottom: -28px;
    right: 50px;
    background: inherit;
    transform: rotate(-149deg) skew(-29deg);
    border-radius: 8px;
    z-index: -1;
  }
  i {
    font-style: italic;
    font-weight: 400;
  }
  .show-more {
    font-size: 14px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-left: 1px solid #418ac9;
      border-bottom: 1px solid #418ac9;
      margin-left: 5px;
      transform: rotate(-45deg);
      vertical-align: top;
    }
  }
}

.station-info-img {
  background: #f5f7f9;
  width: 300px;
  height: 260px;
  position: absolute;

  top: 100px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.styled-list {
  margin: 15px 0;
  li {
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .list-number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #418ac9;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
  }
}

.choise-block {
  padding-top: 20px;
  li {
    margin-bottom: 13px;
    background: #ffffff;
    a {
      display: block;
      padding: 15px 60px;
      border: none;
      box-shadow: 0 1px 21px 0 rgba(0, 0, 0, .12);
      font-size: 16px;
      text-decoration: underline;
      color: #32394a;
      position: relative;
      &:hover {
        text-decoration: none;
      }
      &:before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #ffffff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
      img{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .choise-check {
    &:before {
      display: none;
      background: transparent;
      //content: '\2714';
      //text-align: center;
      //line-height: 24px;
      //background: #92b32c;
      //color: $white;
    }
  }
  .choise-subscribe {
    &:before {
      content: '\002B';
      text-align: center;
      line-height: 24px;
      background: #418ac9;
      color: $white;
    }
  }
  .choise-info {
    &:before {
      content: 'i';
      text-align: center;
      line-height: 24px;
      background: #ffc947;
      color: $white;
    }
  }
}

.hidden-text {
  height: 250px;
  overflow: hidden;
  position: relative;
  transition: height ease 0.35s;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 85px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 1));
  }
  &.visible {
    &:before {
      display: none;
    }
  }
}

//NETWORK-STATION
.network-station {
  p.info {
    padding-bottom: 15px;
  }
}

.calculation-info {
  padding-bottom: 18px;
  li {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.7;
    span {
      padding-left: 30px;
    }
  }
}

.autonomous-station {
  .param-item {
    width: 25%;
    flex-grow: 0;
    &:first-child {
      padding-left: 0;
    }
  }
}

.enter-other-power {
  display: flex;
  align-items: center;
  .title {
    padding-right: 75px;
  }
}

.chooise-capacity {
  display: flex;
  align-items: center;
  label {
    font-size: 18px;
    font-weight: 300;
    color: #6a7080;
  }
  input {
    width: 65px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #cfd3dc;
    background: transparent;
    border-radius: 3px;
    margin: 0 10px 0 15px;
  }
}

.roof-station {
  .station-info-block {
    min-height: 385px;
    p {
      padding-bottom: 20px;
    }
  }
}

.roof-station .station-info-block.left-image .station-info-img {
  top: 50px;
}

//404
.not-found-wrap {
  min-height: 100%;
  .page-not-found {
    padding: 100px 0 255px;
    display: flex;
  }
}

.not-found-info {
  width: 50%;
  padding-top: 50px;
  padding-right: 180px;
  h1 {
    color: #e1e3e9;
    font-size: 188px;
    font-weight: 900;
    display: inline-block;
    span {
      display: block;
      font-size: 24px;
      font-weight: 400;
      color: $main-color;
      padding-bottom: 60px;
      letter-spacing: 3.5px;
      text-align: center;
    }
  }
  p {
    display: block;
    font-weight: 700;
    padding: 0 15px 5px;
  }
  ul {
    margin: 15px;
    li {
      margin-bottom: 25px;
      a {
        color: $light-blue;
        text-decoration: none;
        &:hover {
          border-bottom: 1px dashed;
        }
      }
    }
  }

}

.not-found-img {
  width: 50%;
  img {
    width: auto;
    max-width: 100%;
  }
}

.change-password-wrap {
  .register-items {
    padding: 25px 20px 40px;
  }
}

.new-password-items {
  width: 50%;
}

.change-password {
  max-width: 480px;
  position: relative;
  label {
    margin-bottom: 10px;
  }
  input {
    margin-bottom: 20px;
    width: 100%;
  }
  .login-btn {
    padding: 0;
    .btn-default {
      margin-right: 75px;
    }
    input {
      margin-bottom: 0;
    }
  }
}

.new-password, .confirm-new-password {
  position: relative;
  .show-password-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

.change-password-img {
  width: 50%;
  text-align: center;
  padding-top: 20px;
}

.subscription-client {
  p {
    font-weight: 300;
    padding-bottom: 35px;
  }
}

.choice-client {
  display: flex;
  &-item {
    width: 50%;
    background: $dark-white;
    position: relative;
    padding: 42px 60px;
    &:after {
      position: absolute;
      content: '';
      top: 15px;
      left: 20px;
      right: 20px;
      bottom: 15px;
      border: 2px dotted #98c4ec;
      z-index: 1;
    }
    p {
      font-weight: 300;
      line-height: 24px;
      color: $dark-blue;
      position: relative;
      z-index: 2;
      padding-bottom: 90px;
    }
    a {
      position: absolute;
      bottom: 45px;
      z-index: 2;
    }
  }
  .close-project {
    margin-right: 50px;
    .close-project-btn {
      padding: 20px 45px;
      background: #a9c330;
      font-size: 14px;
      border-radius: 3px;
      display: inline-block;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  .subscription-again {
    margin-left: 50px;
    .main-btn {
      box-shadow: none;
    }
  }
}

.subscription-info {
  h2 {
    padding-bottom: 45px;
  }
  p {
    padding-bottom: 40px;
  }
  span {
    font-style: italic;
    font-weight: 600;
    a {
      margin-left: 10px;
      color: #e75353;
      &:hover {
        border-bottom: 1px dashed;
      }
    }
  }
}

.subscription-info {
  .auth-items {
    padding-bottom: 230px;
    color: $dark-blue;
  }
}

//PULSE BLOCK
.pulse-block{
  transition: 1s all;
  animation: pulse-block 3.5s ease-out infinite;
}

@keyframes pulse-block {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.025);
  }
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.05);
  }
  65% {
    transform: scale(.95);
  }
  80% {
    transform: scale(.925);
  }
  100% {
    transform: scale(.925);
  }
}


.img-station-wrap{
  img{
    padding-top: 5px;
  }
  .tooltip-btn{
    position: relative;
    margin: 0;
    width: auto;
    height: auto;
    background: transparent;
    .tooltip{
      top: -38px;
      left: -115px;
      right: 0;
      width: auto;
      &:before{
        display: none;
        //right: 50%;
        //top: 100%;
        //transform: translateY(0) rotate(270deg);
      }
    }
  }
}


//ZAPOVNENI
.wrapper {
  padding: 20px 0 70px;
}
.about-proven-companies {
  padding: 50px 25px 30px;
  background: $white;
}

