@media (max-width: 1199px) {
  .implemented-projects-img {
    padding-right: 40px;
  }
  .container {
    max-width: 992px;
  }
  .stage-item-1:after, .stage-item-2:after {
    border-top: 112px solid transparent;
    border-bottom: 112px solid transparent;
  }
  .stage-item-2:before, .stage-item-3:before {
    border-top: 112px solid #ffffff;
    border-bottom: 112px solid #ffffff;
  }

  .implemented-projects-img {
    padding-right: 40px;
  }
  .station-items {
    flex-direction: column;
  }
  .select-station {
    .station-item {
      width: 100%;
    }
    .home-station {
      margin: 0 0 25px;
    }
    .station-info {
      padding-left: 120px;
    }
  }
  .station-info img {
    top: 50%;
    transform: translateY(-50%);
  }

  .home-types-station {
    flex-wrap: wrap;
    .home-station-items {
      width: calc(50% - 12.5px);
      margin: 0 25px 25px 0;
      padding: 35px 35px 50px 35px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .commercial-station {
    margin: 0 0 25px;
    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .general-information-items {
    .for-client {
      padding: 40px 40px 40px 90px;
    }
  }

  .autonomous-station {
    .param-item {
      width: 50%;
      flex-grow: 1;
      &:last-child {
        border-right: 1px solid #e0e3ea;
        flex-grow: 0;
      }
    }
  }
  .choice-client {
    .close-project {
      margin-right: 25px;
    }
    .subscription-again {
      margin-left: 25px;
    }
  }
}

@media (max-width: 1023px) {
  .general-information-items {
    flex-wrap: wrap;
    .for-client {
      width: 100%;
      margin: 0 0 20px;
    }
  }
  .register-items {
    padding: 45px 25px;
    background: $white;
    .auth-facebook {
      padding-right: 30px;
    }
    .login-email {
      padding-left: 45px;
    }
  }
  //.auth-items {
  //  padding: 0;
  //}
  .login-btn .login {
    margin-right: 30px;
    padding: 15.5px 73px;
  }

  .service-works {
    .register-items {
      background: $lighten-white;
      padding: 25px 20px;
    }
  }
  .info-step {
    padding: 15px;
  }

}

@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    width: 100%;

  }
  h1 {
    padding: 0 0 40px;
  }
  h2 {
    text-align: center;
    &:before {
      display: none;
    }
  }
  h2.gray {
    line-height: 1.25;
    &:before {
      display: none;
    }
  }
  .stage-item-1, .stage-item-2, .stage-item-3 {
    max-width: 220px;
    &:after {
      border-left: 25px solid #ffffff;
      right: 0;
      left: 100%;
    }
    &:before {
      left: -39px;
      border-left: 25px solid transparent;
    }
  }
  .stage-item {
    margin-right: 50px;
  }
  .main-content-info:before, .main-content-info:after {
    display: none;
  }

  .main-content-wrap {
    padding: 75px 0 245px;
    .main-content {
      flex-direction: column;
    }
    &:after {
      height: auto;
      bottom: -10px;
    }
  }
  .main-content-info {
    width: 100%;
    padding: 0 0 45px 0;
    text-align: center;
    p {
      padding-bottom: 50px;
    }
  }
  .main-content-photo {
    width: 100%;
    justify-content: center;
    padding-bottom: 60px;
  }

  .advantages-item-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 35px 0;
    .advantages-item {
      width: calc(50% - 15px);
      margin: 0 30px 25px 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .advantages h2 {
    margin-bottom: 45px;
  }
  .advantages-item-info {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    img {
      margin: 0 20px 0;
    }
  }
  .company-info {
    padding: 65px 25px;
  }
  .company-info-item:not(:last-child):after {
    top: 50%;
    transform: rotate(90deg);
    left: 70%;
  }
  .company-info-wrap:after {
    display: none;
  }
  .questions {
    text-align: center;
    padding: 75px 0 45px;
  }
  .question-items {
    padding-bottom: 20px;
    li {
      line-height: 1.2;
    }
  }
  .img-border {
    width: auto;
    height: auto;
    max-width: 320px;
  }
  .implemented-projects-img img {
    object-fit: cover;
  }
  .implemented-projects-wrap {
    padding: 45px 0 40px;
    h2 {
      margin-bottom: 35px;
    }
    .implemented-projects-img {
      padding: 0 15px 0 0;
    }
    .implemented-projects-info {
      padding: 0 0 0 55px;
      p {
        padding-right: 25px;
      }
    }
  }
  .implemented-projects-info p:before {
    left: -50px;
  }
  .implemented-projects-info p:after {
    right: 0;
  }
  .swiper-implemented-projects {
    padding-bottom: 60px;
    .swiper-pagination {
      bottom: 0;
    }
  }

  //CATALOG
  .select-organiation {
    flex-wrap: wrap;
    .select-specialization.select-item {
      margin-right: 0;
    }
    .select-item {
      width: calc(50% - 12.5px);
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
    .visible-proven-companies {
      width: 100%;
      padding-left: 0;
    }
  }
  .reviews-organization {
    padding-left: 40px;
  }
  .img-station-wrap {
    flex-direction: column;
    padding-left: 40px;
    .terrestrial-station {
      //padding: 0 0 10px;
      padding: 0;
    }
  }
  .proven-organization {
    width: 115px;
    height: 95px;
    img {
      transform: translateY(0);
      top: 12px;
      left: 14px;
      padding-left: 0;
    }
    span {
      padding: 40px 12px 10px 12px;
    }
  }
  .logo-organization {
    padding-right: 20px;
  }

  .register-items .auth-facebook {
    max-width: 290px;
    width: 100%;
    padding: 0 30px 0 0;
    box-shadow: 20px 0 32px -20px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  .info-register {
    span {
      display: block;
      padding-bottom: 5px;
    }
  }

  //REGISTER
  .authorized-items {
    align-items: flex-start;
  }
  .register-items .login-email {
    padding: 60px 0 0 45px;
  }
  .service-works {
    padding: 45px 25px;
    h2 {
      padding-bottom: 35px;
    }
  }
  .step-work {
    padding-bottom: 50px;

  }
  .service-partners {
    padding-bottom: 45px;
  }

  .repeat-password {
    .btn-default {
      margin: 30px 0 10px;
    }
  }

  .station-block {
    h1 {
      padding-bottom: 0;
      margin-bottom: 25px;
    }
    h2 {
      text-align: left;
    }
  }
  .station-power-block p.info a {
    margin-left: 0;
  }
  .params-block {
    flex-wrap: wrap;
  }
  .param-item {
    width: 50%;
    margin-bottom: 25px;
    &:nth-child(2) {
      border: none;
    }
  }
  .station-info-img {
    position: relative;
    top: 0;
    left: 0;
    width: 270px;
    height: 230px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .station-info-block {
    padding: 25px 25px 45px;
    &.left-image {
      padding-left: 0;
    }
    &.right-image {
      padding-right: 0;
      .station-info-img {
        float: right;
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
  .styled-list {
    clear: both;
  }
  .choise-block li a {
    line-height: 1.5;
    padding: 10px 20px 10px 60px;
  }

  .station-block {
    .param-item {
      &:nth-child(odd) {
        width: 40%;
        padding-left: 0;
      }
      &:nth-child(even) {
        width: 60%;
        padding-left: 60px;
      }
    }
  }

  .roof-station {
    .styled-list {
      clear: none;
      li {
        padding-left: 0;
      }
      .list-number {
        display: inline-block;
        position: relative;
        margin-right: 13px;
      }
    }
    .station-info-block p {
      padding-bottom: 0;
    }
  }

  .enter-other-power {
    .title {
      padding-right: 30px;
    }
  }

  .roof-station .station-info-block.left-image {
    .station-info-img {
      top: 0;
    }
    p {
      width: 100%;
      padding-left: 300px;
    }
  }

  //404
  .not-found-wrap {
    .page-not-found {
      flex-direction: column;
      padding-top: 0;
    }
  }
  .not-found-info {
    width: 100%;
    padding-right: 0;
    h1 {
      text-align: center;
      display: block;
    }
  }
  .not-found-img {
    width: 100%;
    text-align: center;
  }
  .new-password-items {
    width: auto;
  }
  .change-password-img {
    width: auto;
    padding-top: 50px;
  }
  .choice-client-item {
    padding: 30px 40px;
  }
  .subscription-client {
    padding: 25px;
  }
  .select-category {
    padding-top: 40px;
  }
}

@media screen and (max-width: 766px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .swiper-slide {
    flex-direction: column;
  }

  .swiper-implemented-projects {
    padding-bottom: 50px;
    .swiper-pagination {
      bottom: 0;
      padding: 0;
      left: 40px;
    }
  }
  .implemented-projects-wrap {
    .implemented-projects-img {
      width: 100%;
      max-width: 100%;
      padding: 0 0 55px 0;
    }
  }

  .implemented-projects-info {
    padding: 0 25px 0 50px;
  }

  .main-content-photo {
    display: none;
  }
  .work-joule-wrap {
    .stage-works {
      flex-direction: column;
      align-items: center;
    }
  }
  .stage-item {
    padding: 20px 25px 10px;
    text-align: center;
  }
  .stage-item-1, .stage-item-2, .stage-item-3 {
    max-width: 300px;
    margin: 0;
    margin-bottom: 80px;

    &:after {
      border-top: 65px solid #ffffff;
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
      left: 0;
      top: 100%;
    }
    &:before {
      border-right: 150px solid #ffffff;
      border-top: 65px solid transparent;
      border-left: 150px solid #ffffff;
      border-bottom: 92px solid #ffffff;
      top: -66px;
      left: 0;
    }
  }
  .stage-item-3 {
    padding: 0 20px 25px;
  }
  .advantages-item-wrap {
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    .advantages-item {
      min-width: 300px;
      margin: 12px;
    }
  }
  .company-info-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .company-info-item {
    padding: 20px;
    width: 220px;
    &:not(:last-child):after {
      display: none;
    }
  }
  .visible-catalog-organization {
    display: flex;
    flex-wrap: wrap;
    .name-organization {
      overflow: hidden;
      h3 {
        padding-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          font-size: 24px;
          color: #32394a;
        }
      }
    }
    .proven-organization {
      position: relative;
      margin-bottom: 15px;
      width: 100%;
      height: 56px;
      img {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
      span {
        padding: 0;
        padding-left: 45px;
      }
    }
    .info-organization {
      font-size: 14px;
    }
    .location-organization {
      padding: 5px 0 15px 20px;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    .about-company {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 15px;
      padding-right: 15px;
    }
    .img-station-wrap {
      flex-direction: row;
      padding-left: 0;
      justify-content: flex-start;
      .terrestrial-station {
        padding-left: 15px;
      }
    }
  }
  .catalog-organization {
    display: none;
    //flex-wrap: wrap;
    //justify-content: flex-start;
    //.logo-organization {
    //  order: 1;
    //  padding-bottom: 18px;
    //}
    //.about-organization {
    //  order: 2;
    //  position: absolute;
    //  top: 130px;
    //  left: 100px;
    //  h3 {
    //    position: absolute;
    //    left: -100px;
    //    top: -130px;
    //    padding-top: 15px;
    //  }
    //}
    //.reviews-organization {
    //  order: 3;
    //  padding: 0 30px 0 0;
    //  margin-top: 15px;
    //}
    //.proven-organization {
    //  order: 0;
    //  width: 100%;
    //  height: 56px;
    //  img {
    //    top: 50%;
    //    transform: translateY(-50%);
    //    left: 20px;
    //  }
    //  span {
    //    padding: 0 0 0 45px;
    //  }
    //}
    //.img-station-wrap {
    //  flex-direction: row;
    //  justify-content: flex-start;
    //  order: 4;
    //  padding: 0;
    //  .sun-station {
    //    padding: 0 8px 0 0;
    //  }
    //}
  }
  .proven-organization-wrap {
    order: 0;
    width: 100%;
    height: 56px;
    margin: 30px 0 15px;
  }
  //.proven-organization-wrap.hidden{
  //  height: 0;
  //}
  .proven-organization.hidden {
    display: none;
  }

  .register-items {
    background: $lighten-white;
    padding: 27px 12px 40px;
    h2 {
      font-size: 24px;
    }
  }
  .auth-items {
    padding: 25px 8px 35px;
  }
  .register-items {
    .authorized-items {
      flex-direction: column;
      .auth-facebook, .login-email {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-bottom: 30px;
      }
      .login-facebook {
        max-width: 100%;
        padding: 75px 50px;
      }
      .login-email {
        padding: 70px 0 40px 0;;
      }
      .auth-facebook {
        box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .repeat-password {
    flex-direction: row;
    .password-input, .password-input-repeat {
      width: 100%;
      margin: 0;
      input {
        width: 100%;
      }
    }
  }

  .network-station {
    ol {
      li {
        line-height: 1.5;
        padding-bottom: 5px;
      }
    }
  }

  //MODAL
  .remodal-wrapper {
    padding: 0;
    .advantages-sun-system {
      margin-top: 120px;
      h3 {
        padding-right: 30px;
      }
    }
  }
  .registration-facebook {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 30px 8px;
  }

  .step-work-image {
    float: none;
    margin-right: 10px;
  }
  .step-work-info {
    clear: both;
    padding-top: 20px;
  }

  .service-works {
    .register-items {
      padding: 27px 10px 40px;
    }
  }
  .tooltip-btn .tooltip {
    width: 300px;
  }

  .enter-other-power {
    flex-direction: column;
    align-items: flex-start;
    .title {
      padding-bottom: 15px;
    }
    .chooise-capacity {
      flex-direction: column;
      input {
        margin: 18px 10px 0 0;
      }
      span {
        display: block;
      }
    }
  }
  .change-password-img {
    width: 100%;
  }
  .choice-client {
    flex-direction: column;
    .choice-client-item {
      margin: 0 0 25px;
      max-width: 600px;
      width: 100%;
    }
  }
  .img-border {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  .img-border {
    width: 90%;
  }
  .company-info {
    &:before {
      background-size: auto 100%;
      opacity: .8;
    }
  }
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 31px;
    padding-bottom: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h2.gray {
    font-size: 24px;
  }
  .main-btn {
    padding: 20px 28px;
  }
  .main-content-wrap {
    padding: 60px 0 105px;
  }
  .main-content-info {
    p {
      padding-bottom: 0;
      font-size: 22px;
    }
  }
  .main-content-photo {
    display: none;
  }
  .work-joule-wrap {
    margin-top: -75px;
    h2 {
      padding-bottom: 0px;
    }
    .work-joule {
      margin-bottom: 0px;
    }
  }
  .advantages-item-wrap {
    padding: 0;
    .advantages-item {
      width: 100%;
      margin: 0 10px 25px 0;
      &:nth-child(2n) {
        margin-right: 10px;
      }
    }
  }
  .company-info-wrap {
    flex-direction: column;
    .company-info-item {
      width: 100%;
      border-right: 0;
      border-bottom: 1px dashed $dashed-blue;
    }
  }
  .company-info {
    padding: 50px 40px;
  }
  .company-info-item:nth-child(1) {
    padding: 0 0 55px 0;
  }
  .company-info-item:nth-child(2) {
    padding: 55px 0;
  }
  .company-info-item:last-child {
    padding: 55px 0 0;
    border-bottom: 0;
  }

  .questions {
    padding: 75px 0 50px;
    h2 {
      margin-bottom: 40px;
    }
  }
  .question-items {
    li {
      display: block;
    }
  }
  .question-icon {
    top: -7px;
  }

  .select-station {
    padding: 25px 8px 35px;
    h2 {
      text-align: left;
    }
    .station-item {
      padding: 50px 15px 20px
    }
    .station-info {
      padding: 130px 15px 25px;
      img {
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .home-types-station {
    .home-station-items {
      width: 100%;
      padding: 25px;
      margin-bottom: 25px;
      margin-right: 0;
    }
  }

  .select-category {
    padding: 25px 0 45px;
  }
  //CATALOG
  .select-organiation {
    padding: 23px 13px;
  }
  .select-region.select-item {
    padding-bottom: 25px;
  }
  .select-organiation .select-item {
    width: 100%;
    margin-right: 0;
  }

  .general-information-items {
    h3 {
      font-size: 24px;
    }
    li {
      padding-left: 13px;
      font-size: 16px;
    }
    .for-client {
      padding: 65px 11px 15px;
    }
    .information-item:before, .suggestions-item:before {
      top: 8px;
      left: 3px;
    }
  }
  .questions-wrap {
    h2 {
      font-size: 23px;
      font-weight: 400;
    }
    .list-questions {
      padding-bottom: 65px;
    }
  }
  .station-block {
    padding: 13px 8px;
    overflow: hidden;
    h1 {
      font-size: 24px;
      line-height: 1.3;
      b {
        display: block;
      }
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.3;
    }
  }
  .station-power-block {
    padding: 15px 8px;
  }
  .params-block {
    margin-bottom: 10px;
  }
  .param-item {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 0;
    &:not(:last-child) {
      border-bottom: 1px solid #e0e3ea;
      border-right: 0;
    }
  }
  .alert {
    padding: 18px;
    &.alert-danger:before {
      position: static;
      transform: none;
      margin-bottom: 13px;
    }
  }
  .station-power-block:after {
    left: 30px;
  }
  .station-info-img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .station-info-block {
    padding: 20px 0 45px;
  }
  .station-power-block .slider-block {
    padding-left: 0;
    padding-right: 0;
  }
  .noUi-pips-horizontal {
    display: flex;
    justify-content: space-between;

  }
  .station-power-block .noUi-value {
    transform: none;
    position: static;
  }
  .img-station-wrap .tooltip-btn .tooltip {
    display: none;
  }
  .tooltip-btn .tooltip {
    width: 300px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    &:before {
      display: none;
    }
  }
  .station-power-block .slider-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .station-power-block {
    .noUi-horizontal .noUi-handle {
      width: 45px;
      left: -22px;
    }
    .noUi-tooltip {
      transform: translate(-50%, -43%);
      font-size: 12px;
      &:before {
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
      }
    }
  }
  .choise-block li a {
    padding: 10px 15px 10px 45px;
    &:before {
      left: 8px;
      top: 13px;
      transform: translate(0);
    }
    img {
      left: 8px;
      top: 13px;
      transform: translate(0);
    }
  }

  .station-block {
    .param-item {
      &:nth-child(odd) {
        width: 100%;
      }
      &:nth-child(even) {
        width: 100%;
        padding-left: 0;
      }
    }
    .station-info-block.left-image p {
      padding: 0 0 25px;
    }
    .styled-list li {
      padding-left: 35px;
      .list-number {
        position: absolute;
      }
    }
  }
  .not-found-info h1 {
    font-size: 165px;
  }
  .new-password-items {
    width: 100%;
  }
  .change-password {
    .login-btn {
      flex-direction: column;
      .btn-default {
        margin: 0 0 20px;
      }
    }
  }
}

@media (max-width: 425px) {
  .img-border {
    width: 100%;
  }
  .login-btn {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 35px;
    a {
      width: 100%;
    }
    .login {
      margin: 0 0 30px;
    }
  }
  .authorized-items {
    .login-email {
      margin-bottom: 0;
    }
    .info-register {
      margin: 0;
      //padding-top: 40px;
    }
  }
  .info-register {
    padding: 0;
    margin: 0 -15px;
  }

  .enter-email {
    padding: 30px 10px;
  }
  .forgot-password-btn {
    flex-direction: column;
    .accept-btn {
      margin: 0 0 8px;
    }
    .accept-btn, .backward-btn {
      width: 100%;
    }
  }

  .service-works {
    padding: 35px 8px 40px;
    h2 {
      font-size: 24px;
      line-height: 30px;
    }
    h3 {
      font-size: 22px;
    }
  }
  .info-step {
    margin-bottom: 15px;
    min-height: 225px;
  }
  .authorized-items {
    .login-facebook {
      padding: 75px 35px;
    }
  }
  .auth-items-wrap {
    .unregistered {
      padding-top: 0;
      margin: 0 -12px;
    }
  }
  .login-email {
    h3 {
      font-size: 18px;
      line-height: 36px;
      padding-bottom: 5px;
    }
  }
  .visible-catalog-organization .logo-organization {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
  }
  .catalog-organization {
    .logo-organization {
      min-width: 80px;
      max-width: 80px;
      height: 80px
    }
    .proven-organization {
      img {
        width: 17px;
      }
      span {
        font-size: 13px;
      }
    }
  }

  .questions-wrap li {
    padding: 17px;
  }
  .choice-client-item {
    padding: 25px;
    &:after {
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
    }
    a {
      left: 25px;
      right: 25px;
      bottom: 25px;
      text-align: center;
    }
  }
  .subscription-again .main-btn {
    justify-content: center;
  }

  .subscription-info {
    h2, p {
      padding-bottom: 20px;
    }
    span {
      font-size: 16px;
    }
  }
}


